{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Create Post</h1>
        <form method="POST" action="{{ url_for('blogposts.post_create_post') }}">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required><br>
            
            <label for="blogpost">Content:</label><br> 
            <textarea id="blogpost" name="blogpost" required></textarea><br> 
            
            <button type="submit">Create Post</button>
            <button onclick="copyText()">Copy text</button>
        </form>
    </div>
    
    <!--The following code was adapted from W3schools. You can find the original version here: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp-->
    <script>
        function copyText() {
            var copy = document.getElementById("content");

            copy.select();
            copy.setSelectionRange(0, 99999);

            navigator.clipboard.writeText(copy.value);

            alert("Copied to clipboard!");
        }
    </script>
{% endblock %}
