{% extends "base.html" %}
   {% block content %} 
        <h1>{{ article.title }}</h1>
        <p>by {{ article.author.name }} - {{ article.date.strftime('%Y-%m-%d') }}</p>
        <p>{{ article.content }}</p>
        {% if current_user == article.author %}
        <div class="container">
            <a href="{{ url_for('blogposts.edit_post', post_id=article.id) }}">Edit</a>
            <a href="{{ url_for('blogposts.delete_post', post_id=article.id) }}">Delete</a>
        </div>
        {% endif %}
    {% endblock %}